<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scholarix">
        <activity android:name=".ui.screens.auth.ChooseAccountActivity" />
        <activity android:name=".ui.screens.auth.LoginActivity" />
        <activity android:name=".ui.screens.auth.RegisterActivity" />
        <activity android:name=".ui.screens.auth.ForgotPasswordActivity" />
        <activity android:name=".ui.screens.common.CompleteProfileActivity" />
        <activity android:name=".ui.screens.student.StudentDashboardActivity" />
        <activity android:name=".ui.screens.provider.ProviderDashboardActivity" />
        <activity android:name=".ui.screens.provider.AddEditScholarshipActivity" />
        <activity android:name=".ui.screens.student.ScholarshipDetailsActivity" />
        <activity android:name=".ui.screens.student.ProviderListActivity" />
        <activity android:name=".ui.screens.student.ProviderDetailsActivity" />
        <activity android:name=".ui.screens.student.StudentProfileActivity" />
        <activity android:name=".ui.screens.provider.ProviderProfileActivity" />
        <activity android:name=".ui.screens.common.ChangePasswordActivity" />
        <activity
            android:name=".ui.screens.common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>